<%= form_with(model: post, local: true, html: { multipart: true }, url: choose_new_or_edit  ) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.text_field :content, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <%= form.file_field :image%>
  <%= form.hidden_field  :image_cache %>

  <div class="actions mt-3 text-center mb-2">
    <%= form.submit "post", class:"btn btn-outline-dark "  %>
  </div>
<% end %>

 