<nav class="navbar navbar-light facebook-bg">
    <img src="https://img.icons8.com/color/48/000000/facebook-circled.png">
    <div class="input-group m-input mr-auto ml-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Search</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <img src="https://img.icons8.com/color/48/000000/user-male-skin-type-5.png" class="small-avatar mr-2">
        <% if logged_in? %>
        <p class="text-light mt-3 mr-2"> <%= @current_user.username%> </p>
        <% else %>
        <% end %>
        <span class="text-dark mr-2">|<span><span class="text-light ml-2">Home</span><span class="text-dark ml-2 mr-2">|</span>
        <img src="https://img.icons8.com/material/24/000000/add-user-group-woman-woman.png" class="ml-2">
        <img src="https://img.icons8.com/color/24/000000/facebook-messenger.png" class="ml-2">
        <span class="text-light"><%= link_to "Logout", session_path(@current_user.id), method: :delete, class:"text-light" %></span>
    </div>
</nav>
<div class="full-screen bg-light d-flex justify-content-center align-items-center">
    <div class="card mb-2" style="width: 30rem;">
        <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
            <%= image_tag (@post.image.url) if @post.image && @post.image.url%>
            <%= form.hidden_field  :image_cache %>
            <div class="card-body">
            <p class="card-text"><%= @post.content %></p>
            <%= form.hidden_field :content %>
            <%= form.hidden_field :user_id %>
            <%= form.submit 'Confirm', class: "btn btn-primary" %>
            </div>
        <%end%>
        <%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
            <%= form.hidden_field :image_cache %>
            <%= form.hidden_field :content %>
            <%= form.submit "back", name: 'back', class: "btn btn-success"  %>
        <% end %>
    </div>
</div>